@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
}

header img {
  width: 95px;
  height: 95px;
  margin-right: 10px;
  margin-left: 0;
}

header input[type="text"] {
  margin-right: 0;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

header input[type="submit"] {
  padding: 16px 32px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.anime-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.anime-card {
  width: 200px;
  text-align: center;
}

.anime-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.anime-info {
  margin-top: 8px;
}

.anime-card h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.anime-card p {
  font-size: 18px;
}
